
html{
	
	
}

body{
	overflow-x:hidden;
	margin:0;
	font-family:sans-serif;
	color:#004357
}


#header{
	background-color: #004357;
	height:4em;
	width:100%;
	position:absolute;
	top:0px;
	margin:0;
	margin: 0 -9999em;
	padding: 0.25rem 9999rem;
	
}


#headerLeft{
	position:relative;
	left:10%;
	float:left;
	height:100%;
	width:30%;
}

#headerRight{
	position:relative;
	right:10%;
	float:right;
	height:100%;
	width:30%;
}

#hvlLogo{
	height:80%;
	display:block;
}

#expoLogoImg{
	display:block;
	margin:auto;
	height:80%;
}

#mid {
	width:80%;
	margin:auto;
	text-align:center;
	position:relative;
	top:4em
}





#midText{
	position:relative;
	top:1.5em;
}

#poster{
	width:15em;
	margin:auto;
}

#posterImg{
	width:100%;
	
}





#voteForm{
	position:relative;
	top:2em;
}

#formStars{
	width:16em;
	min-width:16em;
	margin:auto;
}

div.voteForm {
  width: 270px;
  min-width:270px;
  display: inline-block;
}

input.stjerne { display: none; }

label.stjerne {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.stjerne:checked ~ label.stjerne:before {
  content: '\2605';
  color: #FD4;
  transition: all .25s;
}

/*
input.stjerne-5:checked ~ label.stjerne:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
*/

input.stjerne-1:checked ~ label.stjerne:before { color: #F62; }

label.stjerne:hover { 
	transform: scale(1.3); 
}

label.stjerne:before {
  content: '\2605';
}

#sendVoteButton{
	background-color:#004357;
	color:white;
	border:none;
	padding:15px 32px;
	text-align:center;
	display:inline-block;
	border-radius:5%;
}